<main>
    <section class="tarefas">
        <div class="tarefa">
            <form>
                <input type="radio" id="tarefa-1">
                <label for="tarefa-1">Completar curso de JavaScript</label>
                <button>
                    <img src="/imagens/X-icon.png" alt="ícone de X para excluir uma tarefa">
                </button>
            </form>
        </div>
    </section>
</main>